.vscode
/node_modules/
engine/.vscode/
engine/functions/.cache/
engine/firebase-debug.log 
engine/firestore-debug.log
*.log

webapp/styles/index.scss
webapp/outtripper/
webapp/package-lock.json
.DS_Store
credentials/
webapp/.DS_Store
webapp/.next/
webapp/node_modules/
webapp/static/.DS_Store
webapp/static/backgrounds/.DS_Store

