@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap");
@import './variables.scss';



* {
  font-family: "Open Sans", sans-serif;
  color: $black_color
}



$bachground-gradient: linear-gradient(
  179.96deg,
  #f56565 2.18%,
  #e53e3e 27.54%,
  #c53030 52.38%,
  #9b2c2c 98.95%
);

.bg-gradient {
  background: $bachground-gradient;
}

.bottomBar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @apply mt-1 w-full border-t;
  p {
    font-weight: 300;
    font-size: 9px;
    line-height: 13px;
    @apply m-auto
  };
  img {
    @apply m-auto
  }
}

.buttonBottomBar {
  display: grid;
  grid-template-rows: 1fr 9px;
  height: 53px;
  @apply w-full mt-1;
}

.login {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 10px;
  label {
    color: white;
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.75px;
    grid-row: span 5;
  }
  .loginIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer {
    grid-area: 9;
  }
}

.noEvents {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  label {
    color: $black_color; 
    @apply text-4xl m-auto font-semibold; 
  };
  article {
    color: $black_color;
    grid-row: 4; 
    @apply text-xs text-center mb-4 font-thin tracking-wider leading-relaxed w-11/12 m-auto
  };
  .avatarNoEvent {
    grid-row: span 2;
    @apply m-auto
  };
  .arrow { 
    @apply mx-auto
  }
}

.splash {
  display: grid;
  grid-template-rows: 50% 50%;
  color: white;
  background: $bachground-gradient;
  label {
    color: white;
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.75px;
    margin: 75% 0% 0% 10%;
  }
  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    text-align: center;
    letter-spacing: 0.15px;
  }
}

.calendarAvailabilityResume { 
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 5px;
  .backgroundRed {
    background-color:$red;
  };
  .backgroundOrange {
    background-color:$orange
  };
  .backgroundYellow {
    background-color:$yellow
  };
  .backgroundGreen {
    background-color: $green
  };
  .backgroundGrey {
    background-color: $grey
  }
  label {
    color: $black_color;
    @apply font-thin text-sm m-auto
  };
}